body {
    background-image: linear-gradient(to bottom right, pink, white, pink);
    background-repeat: no-repeat;
}

header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

nav a:hover {
    font-weight: bold;
}